# Login API hostname and auth
LOGIN_URL=testuser:password@localhost:3000

# Secret for encrypting cookies
SECRET_KEY=aSecretForEncryptingCookiesThatIsSufficientlyLongEnough

# Port to listen on
PORT=5000

# Optional domain for using SSO with other webmaker apps
DOMAIN=

# leave as development for better logging
NODE_ENV=development

# Supported Languages (default is all)
export SUPPORTED_LANGS='["*"]'
